header{
    font-family: 'Audiowide', cursive;
    font-size: larger;
    width: 100%;
    height: 399px;
    /* background: aqua; */

    background-image: linear-gradient(-177deg, #707070 80%, antiquewhite 0%);
    border: 1px solid #707070;
    opacity: 1;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerButtonsSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}